html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--fond);
  font-size: 14px;
  font-family: var(--font-sans-serif);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1rem;
}

main {
  color: var(--blanc);
}

h1 {
    font-family: var(--font-serif);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;    
    text-align: center;
    padding-bottom: 5%;
    color: var(--blanc);
}

h2 {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-weight: 400;
  padding-bottom: 1%;
  padding-left: 5%;
  color: var(--blanc);
}

p {
  padding-left: 8%;
  padding-right: 8%;
  color: var(--blanc);
}

h3 {
  font-family: var(--font-serif);
  font-size: 18px;
  font-style: normal, weight 400;
}

h4 {
  font-family: var(--font-serif);
  font-size: 15px;
  font-style:italic;
  font-style: weight 700;
}

h5 {
  font-family: var(--font-sans-serif);
  font-size: 16px;
}

article {
  background-color: var(--couleur-dicone2) ;
  color: var(--fond);
}

a {
text-decoration: none;
color: var(--texte);
}

video {
  width:80%;
}

.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

.noscroll,
.noscroll body {
  overflow: hidden;
}


button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  } 


