html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--fond);
  font-size: 14px;
  font-family: var(--font-sans-serif);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1rem;
}

main {
  color: var(--blanc);
}

h1 {
    font-family: var(--font-serif);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;    
    text-align: center;
    padding-bottom: 5%;
    padding-top: 110px;
    color: var(--blanc);
    line-height: 30px;
}

h2 {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-weight: 400;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 5%;
  color: var(--blanc);
  margin-top: 10%;
}

p {
  padding-left: 8%;
  padding-right: 8%;
  color: var(--blanc);
  line-height: 20px;
}

h3 {
  font-family: var(--font-serif);
  font-size: 15px;
  font-style:italic;
  font-style: weight 700;
  color: var(--blanc);
  padding-left: 8%;
  margin-top: 10%;
  text-shadow: var(--bleu--icon) 8px 5px 1px;
}

h4 {
  font-family: var(--font-serif);
  font-size: 15px;
  font-style:italic;
  font-style: weight 700;
}

h5 {
  font-family: var(--font-sans-serif);
  font-size: 16px;
  color: var(--blanc);
  font-weight: 400;
  padding-left: 8%;
}

article {
  background-color: var(--couleur-dicone2) ;
  color: var(--fond);
}

a {
text-decoration: none;
color: var(--texte);
}

video {
  width:80%;
}

.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

.noscroll,
.noscroll body {
  overflow: hidden;
}


button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  } 

  .pages__img {
    width: 230px;
    margin-left: 20%;
    margin-top: 5%;
  }

  .pages__mots {
    color: var(--bleu--icon);
    text-decoration: underline;
  }

  .pages__intro {
    font-style: italic;
    font-weight: 400;
  }

  .pages__legende {
    font-style: italic;
    font-weight: 400;
    color: var(--bleu--icon);
    text-align: center;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
  }

.button__lire {
    margin-top: 5%;
    margin-left: 40%;
    color: var(--fond);
    background-color: var(--violet--icon2);
    font-size: 12px;
    font-family: var(--font-sans-serif);
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 70px;
    height: 30px;
    border: 2px solid var(--blanc);
}

.button__apropos {
  margin-top: 5%;
  margin-left: 35%;
  color: var(--fond);
  background-color: var(--violet--icon2);
  font-size: 12px;
  font-family: var(--font-sans-serif);
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 110px;
  height: 30px;
  border: 2px solid var(--blanc);
}

.pages__conclusion {
  margin-top: 10%;
}

.pages__fin {
  margin-top: 15%;
}

.article__guillemet {
  width: 62px;
  height: 34px;
  padding-left: 20px;
}

.article__guillemet2 {
  width: 52px;
  height: 34px;
  transform: rotate(180deg);
  margin-left: 293px;
  margin-bottom: 5%;
}

.article__citation {
  padding-left: 40px;
  padding-right: 40px;
  font-family: var(--font-serif);
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-style:italic;
  font-style: weight 700;
  color: var(--bleu--fonce2);
}

