:root {
/* Color styles */
--bleu---texte: rgba(59, 153, 183, 1);
--bleu--foncé: rgba(18, 141, 255, 1);
--violet--icon2: rgba(139, 10, 241, 1);
--fond: rgba(0, 0, 0, 1);
--blanc: rgba(255, 255, 255, 1);
--bleu--icon: rgba(72, 175, 207, 1);

/* Text-size styles */
--titre-3: 15px;
--titre-1: 24px;
--titre-2: 18px;
--texte: 14px;

/* Font-family style */
--font-display: 'Monoton', serif;
--font-serif: 'PT Serif', serif;
--font-sans-serif: 'Raleway', sans-serif;

/* Effect styles */
--drapeau: inset 161px 70px 4px rgba(0, 0, 0, 0.75);

--letter-spacing: 0.05em;

--text-xl: 1.375rem;
}