
.carrousel {
    grid-column: 2;
    grid-row: 2;
    width: 540px;
    height: 300px;
    padding: 0px;
    position: relative;
    overflow: hidden;
}



.image155 {
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
    width: 6600px;
    height: 323px;
    left:0;
}