
.headerpage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blanc);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  border-bottom: solid 10px var(--bleu--icon);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding-top: 30px;
  height: 100px;
  z-index: 10;

}


  .header__title {
    font-family: var(--font-display);
    font-size: 36px;
    text-transform: uppercase;
    color: var(--fond);
    font-weight: 400;
  }

.header__start {
  padding-left: 10px;
}

.header__end {
  padding-right:  10px;
  padding-bottom: 32px;
}

