.article__title {
    font-family: var(--font-serif);
    font-weight: 700;
    font-size: 1rem;
    padding-top: 5%;
    text-align: center;
    text-transform: uppercase;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    color: var(--fond);
}

.article__title1 {
    font-family: var(--font-serif);
    font-weight: 700;
    font-size: 1rem;
    padding-top: 5%;
    text-align: center;
    text-transform: uppercase;
    margin-left: 3%;
    margin-right: 10%;
    margin-bottom: 3%;
    color: var(--fond);
}

.article__text {
    padding-left: 3% ;
    padding-right: 3%;
    font-family: var(--font-sans-serif);
    font-weight: 600;
    font-size: 0.8rem;
    color: var(--fond);
}

.article__text2 {
    padding-left: 2% ;
    padding-right: 2%;
    font-family: var(--font-sans-serif);
    font-weight: 600;
    font-size: 0.8rem;
    margin-top: 0px;
    color: var(--fond);
}

.article__img {
    width: 50%;
    height: 50%;
    margin-top: 7%
}

.article__img2 {
    width: 40%;
    height: 40%;
    margin-bottom: 3%;
}

.article img {
     border-radius: 50% 20% / 10% 40%;
     border: solid 3px var(--blanc);
     margin-left: 5%;
}

.article {
    background-color: var(--bleu---texte);
    border-radius: 50% 20% / 10% 40%;
    margin: 5%;
    margin-top: 10%;
    box-shadow: 10px 5px var(--bleu--fonce2);
}

.article__button {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 0.75rem;
    background-color: var(--violet--icon2);
    border: 1px solid var(--fond);
    border-radius: 10% / 50%;
    width: 71px;
    height: 31px;
    justify-self: center;
}

.article__vid {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: solid 3px var(--blanc);
    margin-left: 10%;
    margin-right: 10%;
}

.article__imgtext {
    display: flex;
}

.article button {
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5%;
    color: var(--fond);
}

.article__legende {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 7%;
    margin-bottom: 10%;
    color: var(--fond);

}

.menu__lang {
    transform-style: var(--drapeau);
}