.button__back a {
    border-radius: 100%;
    border: solid var(--blanc);
    padding:5px;
    font-size:15px;
    height: 30px;
    width: 30px;
    text-align:center;
    background: var(--violet--icon2);
    position:fixed;
    right:20px;
    opacity:1;
    z-index:6;
    transition:all ease-in 0.2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
    margin-top: 26%;
    content: url('../../../assets/img/boutons_actions/arrow-left.svg');
  }