.frise {
    background: url("../../../assets/img/Img/Frise.png");
    background-repeat : no-repeat;
    background-position: center;
    margin-left: 30px;
    min-height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    z-index: 0;
}

.frise__carre {
    height: 40px;
    width: 40px;
    background: var(--fond);
    border: solid 2px var(--blanc);
    z-index: 5;
    transform: rotate(45deg);
    margin-right: 50px;
    margin-left: 35px;
}

.frise__bloc1 .frise__carre {
    margin-top: 25%;
}

.frise__bloc2 .frise__carre {
    margin-top: 30%;
}

.frise__bloc3 .frise__carre {
    margin-top: 50%;
}

.frise__bloc1, .frise__bloc2 {
    margin-top: 27px;
}

.frise__bloc3 {
    margin-top: 40px;
}

.frise p {
    display: block;
    margin-right: 5px;
    margin-top: 8px;
    font-family: var(--font-serif);
    font-size: 13px;
    text-align: center;
    transform: rotate(-45deg);
}

/* FRISE ANGLAIS */


.friseEN {
    background: url("../../../assets/img/Img/ENFrise.png");
    background-repeat : no-repeat;
    background-position: center;
    margin-left: 30px;
    min-height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    z-index: 0;
}

.frise__carre {
    height: 40px;
    width: 40px;
    background: var(--fond);
    border: solid 2px var(--blanc);
    z-index: 5;
    transform: rotate(45deg);
    margin-right: 50px;
    margin-left: 35px;
}

.frise__bloc1 .frise__carre {
    margin-top: 25%;
}

.frise__bloc2 .frise__carre {
    margin-top: 30%;
}

.frise__bloc3 .frise__carre {
    margin-top: 50%;
}

.frise__bloc1, .frise__bloc2 {
    margin-top: 27px;
}

.frise__bloc3 {
    margin-top: 40px;
}

.friseEN p {
    display: block;
    margin-right: 5px;
    margin-top: 8px;
    font-family: var(--font-serif);
    font-size: 13px;
    text-align: center;
    transform: rotate(-45deg);
}

.frise__carre:hover {
    border: solid 5px var(--blanc);
}