
.menu {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    display: flex;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right : 0;
    background-color: var(--fond);
    font-size: var(--text-xl);
    letter-spacing: var(--letter-spacing);
    transition: all .4s ease-in-out;
  }

  .menu--open {
    visibility: visible;
    opacity: 1;
  }
  

  .menu__list {
    margin-top: 8vh;
  }
  
  .menu__item {
    margin-top: 10%;
    margin-left: 10% ;
    margin-right: 10%
  }
  
  .menu__link {
    color: var(--blanc);
    text-decoration: none;
    font-family: var(--font-serif);
    font-weight: 600;
    font-size: 1rem;
    
  }

  .menu-btn {
    position: relative;
    z-index: 3;
    width: 30px;  
  }
  
  .menu-btn__bar,
  .menu-btn__bar::before,
  .menu-btn__bar::after {
    content: '';
    background: var(--fond);
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 10;
    transition: all .4s ease-in-out;
  }
  
  .menu-btn__bar::before {
    top: -10px;
  }
  
  .menu-btn__bar::after {
    top: 10px;
    color: var(--blanc);
  }
  
  .menu-btn--open .menu-btn__bar,
  .menu-btn--open .menu-btn__bar::before,
  .menu-btn--open .menu-btn__bar::after {
    transform: rotate(135deg);
    background-color: var(--blanc);
  }
  
  .menu-btn--open .menu-btn__bar::before,
  .menu-btn--open .menu-btn__bar::after {
    transform: rotate(90deg);
    top: 0;
  }

  .menu__underlist {
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
  }
  
.menu__list img {
  display: block;
  width: 70px;
  height: 70px;
  margin-left: 20px;
  margin-right: 20px;
}
