a#cRetour{
    border-radius: 100px;
    border: solid var(--blanc);
    padding:10px;
    font-size:15px;
    text-align:center;
    color:#fff;
    background:var(--violet--icon2);
    position:fixed;
    right:20px;
    opacity: 0.5;
    z-index:99999;
    transition:all ease-in 0.2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
  }
  a#cRetour:before{ content: url("../../../assets/img/boutons_actions/arrow-up.svg"); }
  a#cRetour:hover{
    background: var(--violet--icon2);
    opacity: 0.5;
    transition:all ease-in 0.2s;
  }
  a#cRetour.cInvisible{
    bottom:-35px;
    opacity:0;
    transition:all ease-in 0.5s;
  }
  
  a#cRetour.cVisible{
    bottom:20px;
    opacity:1;
  }