.contact__form{
    margin-left: 1rem;
}

.contact__namecase, .contact__lastnamecase, .contact__mailcase, .contact__messagecase {
    margin-left: 1.2rem;
    margin-top: 1rem;
    border: 1px solid var(--blanc);
    background-color: var(--fond);
    color: var(--blanc);
}   

.contact__namecase, .contact__lastnamecase{
    width: 180px;
    height: 28px;
}

.contact__mailcase {
    width: 240px;
    height: 28px;
}
.contact__messagecase {

    width: 240px;
    height: 100px;  
}


.contact__button {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 7%;
    margin-bottom: 10%;
    color: var(--fond);
    background-color: var(--violet--icon2);
    font-size: 12px;
    font-family: var(--font-sans-serif);
    font-weight: 900;
    letter-spacing: 2px;
    border-radius: 30px;
    text-transform: uppercase;
    width: 105px;
    height: 46px;
    border: 1px solid var(--noir--texte);

}

.contact__p__button {
    display: flex;
    align-content: center;
}

.contact__form__text {
    font-size: 12px;
    margin-right: 60%;
    margin-top: 10%;
}

input {
     color: var(--blanc);
}

.contact__form__obligatoire {
    font-size: 10px;
    margin-left: 25px;
    font-style: italic;
}